<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IOSAppKey</key>
	<string>5553dabe67e58ec1df00467a</string>
	<key>IOSChannel</key>
	<string>AppStore</string>
</dict>
</plist>
